In [ ]:
list1 = [1,2,3,3,4,4,5,6,7,5,5,8,6,6,2,9,8]
list1

[1, 2, 3, 3, 4, 4, 5, 6, 7, 5, 5, 8, 6, 6, 2, 9, 8]

In [ ]:
#convert list values into set
set1 = set(list1)
set1
# set will give only unique values, no dublicate values.

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [11]:
fruits = {"Mango", "Pomegranate", "Grapes","Dates", "Banana"}
fruits

{'Banana', 'Dates', 'Grapes', 'Mango', 'Pomegranate'}

In [12]:
fruits.add("Watermelon")
fruits

{'Banana', 'Dates', 'Grapes', 'Mango', 'Pomegranate', 'Watermelon'}

In [13]:
fruits.add("Orange")
fruits

{'Banana', 'Dates', 'Grapes', 'Mango', 'Orange', 'Pomegranate', 'Watermelon'}

In [ ]:
# if i want to add a value which is already in the set, it won't add this
fruits.add("Mango") 
fruits

{'Banana', 'Dates', 'Grapes', 'Mango', 'Orange', 'Pomegranate', 'Watermelon'}

In [16]:
#remove values
fruits.remove("Orange")
fruits

{'Banana', 'Dates', 'Grapes', 'Mango', 'Pomegranate', 'Watermelon'}

In [17]:
fruits.remove("Apple")
fruits

KeyError: 'Apple'

In [18]:
fruits.pop()
fruits

{'Banana', 'Dates', 'Grapes', 'Mango', 'Pomegranate'}

In [2]:
set1 = {1,2,3,4,5,6}
set2 = {4,5,6,7,8,9}

In [7]:
print(set1 | set2)
print(set1.union(set2))

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [11]:
print(set2 | set1)
print(set2.union(set1))

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [13]:
print(set1 & set2)
print(set1.intersection(set2))

{4, 5, 6}
{4, 5, 6}

In [15]:
print(set2 & set1)
print(set2.intersection(set1))

{4, 5, 6}
{4, 5, 6}

In [17]:
print(set1 - set2)
print(set2 - set1)

{1, 2, 3}
{8, 9, 7}

In [21]:
#caret operaion
print(set1 ^ set2)
print(set1.symmetric_difference(set2))

{1, 2, 3, 7, 8, 9}
{1, 2, 3, 7, 8, 9}

In [22]:
print(set2 ^ set1)
print(set2.symmetric_difference(set1))

{1, 2, 3, 7, 8, 9}
{1, 2, 3, 7, 8, 9}